<div class="container">
  <app-title [title]="'intensity minutes'"></app-title>
  <div class="container__inner">
    <div class="calendar">
      <img src="../../../assets/images/Component 3 – 1.png" class="calendar__item--small" />
      <img src="../../../assets/images/Component 4 – 1.png" class="calendar__item--small" />
      <img src="../../../assets/images/Component 5 – 1.png" class="calendar__item--small" />
      <img src="../../../assets/images/Component 6 – 1.png" class="calendar__item--small" />
      <img src="../../../assets/images/Component 7 – 1.png" class="calendar__item--small" />
      <img src="../../../assets/images/Component 8 – 1.png" />
    </div>
    <div class="watch">
      <img src="../../../assets/images/watch.png" alt="">
    </div>
    <div class="minutes">117</div>
    <div class="daily-goal">117% of Daily Goal</div>

  </div>

</div>
