<div class="container">
  <div class="container__top">
    <app-title [title]="'Badges'"></app-title>
  </div>
  <div class="container__inner">
    <div class='container__middle'>
      <div class="badge-container">
        <div class="badge-count">54</div>
        <div class="badges">Badges</div>
      </div>
    </div>
    <div class="container__bottom">
      <div class="item">21% more than average</div>
      <div class="dot"></div>
      <div class="item">+5 new this month</div>
      <div class="dot"></div>
      <div class="item">top 5 for connections</div>
    </div>
  </div>

</div>
