<div class="container">
  <app-banner></app-banner>
  <div class="container__row container__row--second">
    <div class="card">
      <app-devices></app-devices>
    </div>
    <div class="card">
      <app-heart-monitor></app-heart-monitor>
    </div>
    <div class="card">
      <app-intensity-minutes></app-intensity-minutes>
    </div>
    <div class="card">
      <app-steps></app-steps>
    </div>
  </div>
  <div class="container__row container__row--third">
    <div class="card">
      <app-challenges></app-challenges>
    </div>
    <div class="card">
      <app-badges></app-badges>
    </div>
    <div class="card">
      <app-courses></app-courses>
    </div>
  </div>
</div>
