@import '../../assets/_variables';
.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	app-banner {
		margin-bottom: $marginBetweenElements;
	}

	.container__row {
		width: 100%;
    height: 40vh;
    max-height: 40vh;
    overflow: hidden;
		color: white;
    display: grid;
		&.container__row--second {
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: $marginBetweenElements;
      margin-bottom: $marginBetweenElements;
		}
		&.container__row--third {
			grid-template-columns: repeat(3, 1fr);
      grid-column-gap: $marginBetweenElements;
		}

		.card {
      background: $foreground-gray;
      position: relative;
      overflow: hidden;
      box-sizing: border-box;
		}
	}
}
