//COLORS
$orange: #fcb415;
$background-gray: #2c2c2c;
$foreground-gray: #3a3e46;
$light-blue: #38adb6;
$gray: #bfc3a8;
$blue: #109bf8;
$pink: #e211f4;
$light-purple: #a494e3;
$text-gray: #232831;
$light-gray-border: #576271;
$course-thumbnail-background: #95989A;

//CONSTANT
$itemContainerPadding: 15px 20px;
$marginBetweenElements: 20px;
